body {
  color: #888888;
  font-family: Monospace;
  font-size: 13px;
  background-color: #000;
  margin: 0px;
  overflow: hidden;
}

#info {
  position: absolute;
  top: 0px;
  width: 200px;
  left: calc(50% - 100px);
  text-align: center;
}

a {
  color: #00f;
}