body {
  color: #363636;
  font-family: Monospace;
  font-size: 13px;
  background-color: #bdffcd;
  margin: 0px;
  overflow: hidden;
}

#info {
  position: absolute;
  top: 0px;
  width: 200px;
  left: calc(50% - 100px);
  text-align: center;
}

a {
  color: rgb(0, 255, 217);
}
